<!DOCTYPE html>
<html>
<head>
    <title>Conversion Results</title>
</head>
<body>

    <h1>Results: </h1>

    <p>${{ dollars }} is equivalent to {{ result }} {{ currency }}1</p>

    <hr>
    <a href="about">About this site</a>

</body>

</html>